certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
filelock==3.7.0
huggingface-hub==0.6.0
idna==3.3
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
six==1.16.0
tokenizers==0.12.1
torch==1.11.0
tqdm==4.64.0
transformers==4.19.2
typing-extensions==4.2.0
urllib3==1.26.9
